* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (min-width: 1100px) and (max-width: 1500px) {
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 3%;
    padding: 3%;
  }

  .products-cart-container {
    position: relative;
    display: inline-block;
    width: 100%;
    display: flex;
  }

  .product-section {
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    padding-right: 2rem; /* reduce the gap between the columns */
  }

  .product-image {
    max-width: 200px;
    /* height: 200px; */
    border-radius: 8px;
    margin-top: 20px;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.25); /* subtle shadow */
    cursor: pointer;
    /* transition: transform 0.3s ease;
  transform: scale(1); normal size */
  }

  .cart-container {
    position: relative;
    width: 30%;
    height: fit-content;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8);
    background-color: white;
    padding: 20px;
    padding-bottom: 30px;
    text-align: center;
    /* margin-top: -3%; */
  }
  .total-price {
    position: absolute;
    display: inline;
    left: 70%;
    top: 25%;
    font-weight: bold;
    font-size: 24px;
  }

  .cart-container p4 {
    display: block;
    text-align: left;
    padding-bottom: 5%;
  }

  .product-button {
    position: absolute;
    bottom: -15px; /* Adjust to move it up/down */
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 10px;
    background-color: #fff;
    border: 2px solid hsl(7, 20%, 60%);
    border-radius: 24px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }

  .total {
    padding-top: 20px;
    padding-left: 20px;
    position: relative;
  }

  .cart {
    margin-right: 10px;
  }

  .carbon-neutral p {
    position: relative;
    margin-left: 5%;
  }

  .carbon-neutral {
    position: relative;
    border: none;
    padding: 20px;
    background-color: hsl(13, 100%, 96%);
    border-radius: 10px;
  }

  #tree {
    position: absolute;
    left: 5%;
    top: 34%;
  }

  .order-confirmed-modal {
    position: absolute;
    top: 92%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;

    background-color: white;
    /* padding: 6rem; */
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
    z-index: 10;
  }

  .order-confirmed-modal p5 {
    position: absolute;
    left: 79%;
    top: 30%;
    font-size: 24px;
    font-weight: bold;
  }

  .order-confirmed-modal p4 {
    position: absolute;
    left: 85%;
    top: 35%;
  }

  #picture {
    width: 10%;
    position: absolute;
    bottom: 20%;
    border-radius: 5px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25); /* subtle shadow */
  }

  .confirmed-item-container p2 {
    margin-left: 70px;
  }
}

@media (min-width: 699px) and (max-width: 1100px) {
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 3%;
    padding: 3%;
    background: lightgreen;
  }

  .products-cart-container {
    position: relative;
    display: inline-block;
    width: 100%;
    display: flex;
  }

  .product-section {
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3%;
    padding-right: 2rem; /* reduce the gap between the columns */
  }

  .product-image {
    width: 200px;
    /* height: 200px; */
    border-radius: 8px;
    margin-top: 20px;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.25); /* subtle shadow */
    cursor: pointer;
    /* transition: transform 0.3s ease;
  transform: scale(1); normal size */
  }

  .cart-container {
    position: relative;
    width: 30%;
    height: fit-content;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8);
    background-color: white;
    padding: 20px;
    padding-bottom: 30px;
    text-align: center;
    /* margin-top: -3%; */
  }

  .total-price {
    position: absolute;
    display: inline;
    left: 55%;
    top: 20%;
    font-weight: bold;
    font-size: 20px;
  }

  .cart-container p4 {
    display: block;
    text-align: left;
    padding-bottom: 5%;
    font-size: 14px;
  }

  .product-button {
    position: absolute;
    bottom: -15px; /* Adjust to move it up/down */
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 10px;
    background-color: #fff;
    border: 2px solid hsl(7, 20%, 60%);
    border-radius: 24px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }

  .total {
    padding-left: 1px;
    padding-top: 15px;
    padding-bottom: 15px;
    position: relative;
  }

  .cart {
    margin-right: 10px;
  }

  .carbon-neutral p {
    position: relative;
    margin-left: 5%;
  }

  .carbon-neutral {
    position: relative;
    border: none;
    padding: 20px;
    background-color: hsl(13, 100%, 96%);
    border-radius: 10px;
  }

  #tree {
    position: absolute;
    left: 5%;
    top: 34%;
  }

  .order-confirmed-modal {
    position: absolute;
    top: 92%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;

    background-color: white;
    /* padding: 6rem; */
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
    z-index: 10;
  }

  .order-confirmed-modal p5 {
    position: absolute;
    left: 79%;
    top: 30%;
    font-size: 24px;
    font-weight: bold;
  }

  .order-confirmed-modal p4 {
    position: absolute;
    left: 85%;
    top: 35%;
  }

  #picture {
    width: 10%;
    position: absolute;
    bottom: 20%;
    border-radius: 5px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25); /* subtle shadow */
  }

  .confirmed-item-container p2 {
    margin-left: 70px;
  }
}

@media (min-width: 360px) and (max-width: 699px) {
  body {
    font-family: Arial, sans-serif;
    margin: 3%;
    background: rgb(223, 144, 144);
    padding-left: 10%;
    padding-top: 3%;
  }

  .products-cart-container {
    position: relative;
    display: inline-block;
    width: 100%;
  }

  .product-section {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    padding-right: 2rem;
  }

  .product-image {
    max-width: 100%;
    height: auto;
    /* height: 200px; */
    border-radius: 15px;
    margin-top: 20px;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.25); /* subtle shadow */
    cursor: pointer;
    /* transition: transform 0.3s ease;
  transform: scale(1); normal size */
  }
  .cart-container {
    position: relative;
    width: 90%;
    height: fit-content;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8);
    background-color: white;
    padding: 20px;
    padding-bottom: 30px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    /* margin-top: -3%; */
  }

  .total-price {
    position: absolute;
    display: inline;
    left: 70%;
    top: 32%;
    font-weight: bold;
    font-size: 20px;
  }

  .cart-container h2 {
    margin-left: 20px;
  }
  .cart-container p4 {
    display: block;
    text-align: left;
    padding-bottom: 5%;
    font-size: 14px;
    margin-left: 20px;
  }

  .product-button {
    position: absolute;
    bottom: -15px; /* Adjust to move it up/down */
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 10px;
    background-color: #fff;
    border: 2px solid hsl(7, 20%, 60%);
    border-radius: 24px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }

  .total {
    padding-left: 1px;
    padding-top: 30px;
    padding-bottom: 20px;
    position: relative;
  }

  .cart {
    margin-right: 10px;
  }

  .carbon-neutral p {
    font-size: 13px;
    margin-left: 3px;
  }

  .carbon-neutral {
    display: inline-flex;
    position: relative;
    border: none;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
    padding-right: 12px;
    background-color: hsl(13, 100%, 96%);
    border-radius: 10px;
    align-items: center;
  }

  .order-confirmed-modal {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;

    background-color: white;
    /* padding: 6rem; */
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
    z-index: 10;
    font-size: 13px;
  }

  .order-confirmed-modal p5 {
    position: absolute;
    left: 70%;
    top: 30%;
    font-size: 24px;
    font-weight: bold;
  }

  .order-confirmed-modal p4 {
    position: absolute;
    left: 80%;
    top: 35%;
  }

  .confirmed-item-container p2 {
    margin-left: 70px;
  }

  #picture {
    max-width: 14%;
    position: absolute;
    bottom: 20%;
    border-radius: 5px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
  }
}

@media (min-width: 420px) and (max-width: 569px) {
  #picture {
    max-width: 10%;
  }
}

@media (min-width: 570px) and (max-width: 699px) {
  #picture {
    max-width: 8%;
  }
}

.products {
  font-size: 16px;
}

.product-image:hover {
  /* transform: scale(0.95); zooms out slightly */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8); /* shadow on hover */
}

p {
  margin-top: 5px;
  margin-bottom: 5px;
}

.product-description {
  font-weight: bold;
}

.product-price {
  color: hsl(14, 86%, 42%);
  font-weight: bold;
}

.product-title {
  color: hsl(9, 3%, 41%);
}

.product-image-container {
  position: relative;
  display: inline-block;
  margin-bottom: 35px;
  /* border: solid black; */
}

.product-button:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.quantity-selector {
  position: absolute;
  bottom: -15px; /* Adjust to move it up/down */
  left: 50%;
  transform: translateX(-50%);
  width: 150px;
  height: 45px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 10px;
  background: #b63c1f;
  color: white;
  border-radius: 24px;
  font-size: 14px;
  gap: 20px;
}

.circle-button {
  background-color: white;
  color: #d45628;
  border: 10px solid white;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  font-size: 14px;
  cursor: pointer;
  /* line-height: 32px; */
  text-align: center;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  transition: background 0.2s;
}

.circle-button:hover {
  background-color: #f7d2c5;
}

.quantity-number {
  font-size: 14px;
}

.cart-container h2 {
  color: #d94c36;
  text-align: left;
}

.cart-container p1 {
  color: hsl(9, 3%, 41%);
}

.cart-container p2 {
  display: block;
  text-align: left;
  font-weight: bold;
  padding-bottom: 5px;
}

.cart-container p3 {
  display: block;
  text-align: left;
}

.cart-items {
  border-bottom: solid 1px hsl(10, 3%, 59%);
  padding: 20px;
  position: relative;
}

.quant {
  color: #b63c1f;
}

.iquant {
  color: #b63c1f;
}

.price {
  display: inline-block;
  text-align: left;
}
.amt {
  color: hsl(10, 3%, 59%);
}

.iamt {
  color: hsl(10, 3%, 59%);
}

.xquantity {
  color: hsl(0, 1%, 27%);
}

.cancel-button {
  position: absolute;
  text-align: center;
  border-radius: 50%;
  border: solid 1px hsl(12, 3%, 37%);
  color: hsl(12, 3%, 37%);
  width: 26px;
  height: 26px;
  font-size: 18px;
  font-family: sans-serif;
  left: 85%;
  bottom: 35%;
  cursor: pointer;
  transform: scale(0.8); /*normal size*/
}

.cancel-button:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}
.cart-img {
  display: block;
  margin: 0 auto;
}

.hidden {
  display: none;
}

.confirm-button {
  width: 100%;
  padding: 10px 10px;
  background-color: hsl(14, 86%, 42%);
  color: #f4f4f4;
  border-radius: 24px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  transition: transform 0.3s ease;
  transform: scale(1);
  margin: 0 auto;
  margin-top: 20px;
}

.confirm-button:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8);
  transform: scale(0.95); /*normal size*/
}

.product-outline {
  border: solid hsl(14, 86%, 42%);
}

.quantity-selector button {
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

.quantity-number {
  font-weight: bold;
}

.order-confirmed-modal h1 {
  font-size: 26px;
}

.confirmed-img {
  width: 30px;
  padding-bottom: 10px;
}

.order-confirmed-modal p {
  font-size: 10px;
  color: hsl(7, 20%, 60%);
  padding-bottom: 20px;
}

.confirmed-item-container {
  position: relative;
  border-bottom: solid 1px rgb(219, 206, 206);
  padding: 20px;
  background-color: hsl(13, 100%, 96%);
  border-radius: 10px;
}

#total {
  padding-bottom: 10px;
  padding-top: 10px;
}

.confrmed-item {
  border: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}

#confirm {
  padding: 15px;
  text-align: center;
  font-size: 16px;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 10px;
}

.iquant {
  margin-left: 70px;
}

.iamt {
  margin-left: 10px;
}

.attribution {
  padding-top: 20px;
}

/* width = 1150px - 1500px */
